<!DOCTYPE html>
<html>
    <head>
        <script src="/assets/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/global.css">
    </head>
    <body>
        <div class="squares-grid">

            {{range .Squares}}
            <div id="square-{{.ID}}"
                class="square"
                style="--pixel-colour: {{.ColourHex}}"
                hx-patch="/square/{{.ID}}"
                hx-target="this"
                hx-swap="outerHTML">
            </div>
            {{end}}

        </div>
    </body>
</html>
